---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Über die Autorin | Katherina Braschel" description="Kurzbiografie der Schriftstellerin Katherina Braschel">
  <div>
    <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-4xl">Kurzbiografie</h1>
    <p class="mt-6 text-lg leading-8 text-gray-600">
      Ich wurde 1992 in Salzburg geboren und lebe und arbeite als freie Schriftstellerin in Wien. Zudem bin ich als Kulturveranstalterin und Redaktionsmitglied der Literaturzeitschriften &amp; Radieschen und Morgenschtean tätig und gebe Schreibworkshops für Menschen in jedem Alter.<br />
      An der Universität Wien habe ich von 2011 bis 2018 Theater-, Film- und Medienwissenschaft studiert.
    </p>
      
    <p class="mt-6 text-lg leading-8 text-gray-600">
      2020 erschien mein Debüt <a class="font-semibold leading-6 text-gray-900" href="https://www.liberladen.org/product/katherina-braschel-es-fehlt-viel/">es fehlt viel <span aria-hidden="true">→</span></a> in der edition mosaik.
    </p>

    <p class="mt-6 text-lg leading-8 text-gray-600">
      Seit 2020 bin ich Mitglied der IG Autorinnen Autoren und seit 2023 Mitglied der GAV – Grazer Autorinnen Autorenversammlung.
    </p>

    <p class="mt-6 text-lg leading-8 text-gray-600">
      Seit 2022 wird meine literarische Arbeit von der Agentur Gaeb & Eggers Berlin vertreten.
    </p>

    <p class="mt-6 text-lg leading-8 text-gray-600">
      2024 wurde ich als Writer in Residence der Max Kade Foundation an die Bowling Green State University Ohio eingeladen und habe dort neben meiner Schreibtätigkeit ein Semester lang Kreatives Schreiben unterrichtet und Lesungen an diversen Universitäten gehalten.
    </p>

    <p class="mt-6 text-lg leading-8 text-gray-600">
      Wiederkehrende Themen in meinem Arbeiten sind die kritische Auseinandersetzung mit der NS-Geschichte Österreichs, genderspezifische Gewalt und ihre vielen Formen und das Aufdecken subtiler Machtmechanismen, die sich in Sprache verstecken.<br />
      Feministisches Denken und Handeln sowie beständiges Dazulernen ist für mich selbstverständlich.
    </p>
  </div>
</BaseLayout>