---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
	<div class="py-32 sm:py-20 lg:py-32">
		<h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Katherina Braschel</h1>
		<p class="mt-6 text-lg leading-8 text-gray-600">Bacon ipsum dolor amet brisket salami porchetta boudin tenderloin strip steak shank ribeye capicola jowl. Strip steak andouille brisket, beef kevin shankle turkey capicola.</p>

		<div class="mt-10 flex items-center gap-x-6">
			<a href="/termine/" class="text-sm font-semibold leading-6 text-gray-900">Aktuelle Termine <span aria-hidden="true">→</span></a>
		</div>
	</div>
</BaseLayout>