---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
	<div class="py-32 sm:py-20 lg:py-32">
		<h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Katherina Braschel</h1>
		<p class="mt-6 text-lg leading-8 text-gray-600">
			„Wenn ich schreibe, muss ich mir das glauben, muss mir meine eigene Sprache glauben, auch wenn die immer wieder verschieden aussieht.“<br />
			<span class="text-xs">(im Interview mit Anna Herzig, Hotlistblog)</span>
		</p>

		<div class="mt-10 flex items-center gap-x-6">
			<a href="/termine" class="text-sm font-semibold leading-6 text-gray-900">Aktuelle Termine <span aria-hidden="true">→</span></a>
		</div>
	</div>
</BaseLayout>