---

import { Picture } from 'astro:assets';
import BaseLayout from '../layouts/BaseLayout.astro';
import coverPicture from '../assets/cover_heimholen.jpg';
---

<BaseLayout maxWidth="lg:max-w-[41rem]">
	<div class="py-10 sm:py-20 lg:py-32 flex flex-col-reverse sm:flex-row">
		<div class="mt-8 sm:mt-auto w-2/3 sm:w-1/3">
			<Picture
				src={coverPicture}
				formats={['avif', 'webp']}
				widths={[300, 350]}
				sizes={`(max-width: 768px) 300px, 350px`}
				alt="Cover „Heim holen“"
			/>
		</div>
		<div class="sm:w-2/3 sm:px-8">
			<h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Debütroman<br/><span >„Heim holen“</span></h1>
			<p class="mt-6 text-lg leading-8 text-gray-600">
				Am 19. Jänner 2026 erscheint mein Debütroman „Heim holen“ im Residenz Verlag.
				Die Buchpräsentation findet am 20. Jänner im Literaturhaus Wien statt, Moderation: Katja Gasser.
			</p>

			<div class="mt-10">
				<a href="https://www.residenzverlag.com/buch/heim-holen" class="text-xl font-semibold leading-6 text-gray-900">Zum Buch und Vorbestellung <span aria-hidden="true">→</span></a>
			</div>
		</div>
	</div>
</BaseLayout>