---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Kontakt | Katherina Braschel" description="Kontaktaufnahme mit der Schriftstellerin Katherina Braschel">
  <div>
    <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-4xl">Kontakt</h1>
    <p class="mt-6 text-lg leading-8 text-gray-600">
      Katherina Braschel<br />
      1030 Wien<br /><br />
      <a class="font-semibold leading-6 text-gray-900" href="mailto:contact@katherinabraschel.com">contact@katherinabraschel.com  <span aria-hidden="true">→</span></a>
    </p>
  </div>
</BaseLayout>