---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Moderationen | Katherina Braschel" description="Übersicht über Moderationen der Autorin Katherina Braschel">
  <div>
    <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-4xl">Moderationen</h1>
    <p class="mt-6 text-lg leading-8 text-gray-600">
      Wenn ich nicht selbst lese, moderiere ich auch gerne Lesungen mit Autor*innengesprächen, wie etwa beim Literaturfest Salzburg, der Literaturmeile Zieglergasse oder in Buchhandlungen.
    </p>
    <p class="mt-6 text-lg leading-8 text-gray-600">
      Für Anfragen dazu gerne <a class="font-semibold leading-6 text-gray-900" href="/kontakt">Kontakt <span aria-hidden="true">→</span></a> aufnehmen.
    </p>
    <p class="mt-6 text-lg leading-8 text-gray-600">
      Begonnen habe ich mit dem Moderieren von Lesungen 2016 bei den wöchentlichen Lesungsreihen <a class="font-semibold leading-6 text-gray-900" href="https://annoliteratursonntag.wordpress.com/about/">AnnoLiteraturSonntag (ALSO)<span aria-hidden="true">→</span></a> und AnnoDialektDonnerstag (ADIDO). Diese Lesungen kuratiere ich auch im Team mit meinen Kolleg*innen.
    </p>
    <p class="mt-6 text-lg leading-8 text-gray-600">
        Viele Autor*innen sammeln bei unseren Veranstaltungen ihre ersten Lesungserfahrungen, dementsprechend ist es mir wichtig, eine Moderation zu bieten, die zugänglich und sympathisch ist, den Autor*innen die möglicherweise vorhandene Nervosität nimmt und zugleich einen formellen, wertschätzenden Rahmen bildet.
    </p>
    <p class="mt-6 text-lg leading-8 text-gray-600">
        Mittlerweile moderiere ich im Café Anno dank unseres gewachsenen Teams zwar seltener als früher, aber immer noch genauso gerne.
    </p>
  </div>
</BaseLayout>