---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Preise und Stipendien | Katherina Braschel" description="Übersicht über Preise und Stipendien der Autorin Katherina Braschel">
  <div>
    <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-4xl">Preise und Stipendien</h1>
    <h2 class="text-xl font-bold tracking-tight text-gray-900 sm:text-xl">Auswahl</h2>
    <ul class="py-12 divide-y">    
        <li class="flex gap-x-6 justify-start w-full text-lg">
            <span class="font-bold w-16 flex-none">2019</span>
            <span class="">Förderungspreis der Rauriser Literaturtage</span>
        </li>
        <li class="flex gap-x-6 justify-start w-full text-lg">
            <span class="font-bold w-16 flex-none">2019</span>
            <span class="">Exil-Literaturpreis für Autor*Innen mit Deutsch als Erstsprache</span>
        </li>
        <li class="flex gap-x-6 justify-start w-full text-lg">
            <span class="font-bold w-16 flex-none">2019</span>
            <span class="">Zweitplatzierte beim FM4 Wortlaut-Kurzgeschichtenwettbewerb</span>
        </li>
        <li class="flex gap-x-6 justify-start w-full text-lg">
            <span class="font-bold w-16 flex-none">2019</span>
            <span>Wortmeldungen Förderpreis (Crespo Foundation)</span>
        </li>
        <li class="flex gap-x-6 justify-start w-full text-lg">
            <span class="font-bold w-16 flex-none">2020</span>
            <span>Kulturentwicklungsplan-Stipendium des Landes Salzburg</span>
        </li>
        <li class="flex gap-x-6 justify-start w-full text-lg">
            <span class="font-bold w-16 flex-none">2020/21</span>
            <span>Arbeitsstipendium für zeitgenössisches Kunstschaffen des Landes Salzburg</span>
        </li>
        <li class="flex gap-x-6 justify-start w-full text-lg">
            <span class="font-bold w-16 flex-none">2021</span>
            <span>Startstipendium für Literatur des Bundesministeriums für Kunst, Kultur, öffentlicher Dienst und Sport</span>
        </li>
        <li class="flex gap-x-6 justify-start w-full text-lg">
            <span class="font-bold w-16 flex-none">2022</span>
            <span>Finalistin des Irseer Pegasus</span>
        </li>
        <li class="flex gap-x-6 justify-start w-full text-lg">
            <span class="font-bold w-16 flex-none">2022</span>
            <span>Limburg-Preis</span>
        </li>
        <li class="flex gap-x-6 justify-start w-full text-lg">
            <span class="font-bold w-16 flex-none">2023</span>
            <span>Startstipendium für Literatur des Bundesministeriums für Kunst, Kultur, öffentlicher Dienst und Sport</span>
        </li>
        <li class="flex gap-x-6 justify-start w-full text-lg">
            <span class="font-bold w-16 flex-none">2024</span>
            <span>Max Kade-Stipendiatin und Writer in Residence an der Bowling Green State University in Ohio</span>
        </li>
        <li class="flex gap-x-6 justify-start w-full text-lg">
            <span class="font-bold w-16 flex-none">2025</span>
            <span>Aufenthaltsstipendium der Österreichischen Gesellschaft für Literatur in Paliano, Italien</span>
        </li>
  </div>
</BaseLayout>