---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Pressestimmen | Katherina Braschel" description="Pressestimmen zu Werken der Autorin Katherina Braschel">
  <div>
    <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-4xl">Pressestimmen</h1>
    <p class="mt-6 text-lg leading-8 text-gray-600 italic border-s-4 p-6">
        „Die literarischen Miniaturen vermitteln spezifische Atmosphären und sie weisen kleinere und größere Pointen auf. ‚es fehlt viel‘ ist ein Versuch, der sich für Lesende lohnt.“
    </p>
    <p class="text-base leading-8 text-gray-600">
        Maria Motter, <a class="font-semibold leading-6 text-gray-900" href="https://fm4.orf.at/stories/3002821/">FM4   <span aria-hidden="true">→</span></a>
    </p>

    <p class="mt-6 text-lg leading-8 text-gray-600 italic border-s-4 p-6">
        „Trotz der Schwere und der Grausamkeiten, die Katherina Braschel aus den harmlos scheinenden Alltagsbanalitäten schält, erzeugen die lockere, lose gesetzte Aufmachung des Buches und der trockene und klar voranpreschende Sprachfluss auch einen Urwiener Galgenhumor“
    </p>
    <p class="text-base leading-8 text-gray-600">
        Elias Hirschl, <span class="font-semibold">kolik83</span>
    </p>

    <p class="mt-6 text-lg leading-8 text-gray-600 italic border-s-4 p-6">
        „Der Text <em>ICD-10 - F63.9</em> der Autorin Katherina Braschel verblüfft zunächst mit der Recherche, die ihm zugrunde liegt. Dann erstaunt er durch die Genauigkeit, mit der die Erzählerin ihren Körper beschreibt, mit der sie nachvollzieht, dass sie lebt, indem sie verfällt.<br />
        Schließlich überrascht Braschel ihre Leserinnen und Leser, indem sie alles Politische, das sich in ihrem Text verbirgt, mit der Schönheit ihrer Sprache überdeckt und so erst hervorhebt, da sie uns zu einem zweiten Lesen zwingt.“
    </p>
    <p class="text-base leading-8 text-gray-600">
        Aus der <a class="font-semibold leading-6 text-gray-900" href="https://www.wortmeldungen.org/foerderpreis/foerderpreis-2019-1">Jurybegründung zum Wortmeldungen Förderpreis 2019&nbsp;<span aria-hidden="true">→</span></a>
    </p>

    <p class="mt-6 text-lg leading-8 text-gray-600 italic border-s-4 p-6">
        „Mit ihrer Kurzgeschichte konnte die Autorin die Jury rundum überzeugen. „Der Text
        umtanzt zwei große Leerstellen“, umreißt Laudator Markus Orths die Story. „Zum einen der Grund für die permanenten Suizidversuche des Vaters. Man kann nur spekulieren, ob es mit der zweiten großen Leerstelle zu tun hat, dem Fehlen der Mutter.“
        Besonders beeindruckt war die Jury vom mehrmals wechselnden Duktus der Erzählung. Die Geschichte umfasst den Zeitraum vom vierten bis 21. Lebensjahr der Protagonistin. Laut Meinung der Jury zeichnet sich das Werk durch seine präzise Beobachtungsgabe und kluge Personensetzung aus, die auch die Nebenfiguren umfasst.“
    </p>
    <p class="text-base leading-8 text-gray-600">
        Birgit Karg, <span class="font-semibold">Die Rheinpfalz</span>
    </p>
  </div>
</BaseLayout>