---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Schreibworkshops | Katherina Braschel" description="Übersicht über Schreibworkshops der Autorin Katherina Braschel">
  <div>
    <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-4xl">Schreibworkshops</h1>
    <p class="mt-6 text-lg leading-8 text-gray-600">
        Niemand setzt sich hin und schreibt auf Anhieb den Roman des Jahrhunderts. Auch nicht des Jahrzehnts.<br />
        Schreiben funktioniert nicht als einsame Tätigkeit genialer Autoren [sic!] im luftleeren Raum, auch wenn uns das die männliche Literaturtradition lange genug eingeredet hat.<br />
        Texte entstehen durch Inputs und Feedback, durchs Über-sie-reden und Dazulernen.
    </p>
    <p class="mt-6 text-lg leading-8 text-gray-600">
        In meinen Workshops, die ich für Menschen in jedem Alter anbiete, ist es mir wichtig, einen niederschwelligen Zugang zum Schreiben zu vermitteln. Und vor allem: die Freude daran.<br />
        Konkrete Übungen, das Ausprobieren verschiedener Formen, angeleitetes Feedback, das Erlernen von Textkritik, all diese Dinge können in einem sicheren Rahmen stattfinden.
    </p>
    <p class="mt-6 text-lg leading-8 text-gray-600">
        Wie bei all meinen Tätigkeiten ist es mir wichtig, in meinen Workshops keine diskriminierenden Inhalte, Mechanismen, Dynamiken etc. zu (re)produzieren.<br />
        Über kritisches Feedback dazu freue ich mich immer.
    </p>

    <p class="mt-6 text-lg leading-8 text-gray-600">
        Erfahrungen habe ich zum Beispiel im BG/BRG Klosterneuburg gesammelt, wo ich 2022 zwei Workshop-Tage zum Schreibwettbewerbsthema „Es geht auch anders“ für 10- bis 12-Jährige geleitet habe.<br />
        Oder auch im Rahmen von „JungesLiteraturhaus Wien“, wo ich 2023 einen dreitägigen Schreibworkshop für 14- bis 23-Jährige leiten durfte.
    </p>

    <p class="mt-6 text-lg leading-8 text-gray-600">
        Über <a class="font-semibold leading-6 text-gray-900" href="/kontakt">Anfragen <span aria-hidden="true">→</span></a> für Schreibworkshops freue ich mich jederzeit.
    </p>
  </div>
</BaseLayout>