---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Termine | Katherina Braschel" description="Übersicht über aktuelle Termine der Autorin Katherina Braschel">
  <div>
    <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-4xl">Termine</h1>
    <ul class="py-12 divide-y">
      <li class="flex gap-x-6 justify-start w-full text-lg pb-6">
        <span class="w-40 flex-none">13. September 2024<br>19.00 Uhr</span>
        <span>
          <span class="font-bold">Feierliche Laudatio auf Vladimir Vertlib, Theodor-Kramer-Preisträger 2024</span><br><br>
          <a class="font-semibold leading-6 text-gray-900" href="https://theodorkramer.at/theodor-kramer-preis/2024/">Mehr Informationen <span aria-hidden="true">→</span></a>
        </span>
      </li>
      <li class="flex gap-x-6 justify-start w-full text-lg pb-6">
        <span class="w-40 flex-none">14. September 2024<br>15.00 Uhr</span>
        <span>
          <span class="font-bold">Kuration und Moderation der Gruppenlesung "This connection has been...?" im Rahmen der Literaturmeile Zieglergasse</span><br><br>
          <a class="font-semibold leading-6 text-gray-900" href="https://www.literaturmeile.at/programm/">Mehr Informationen <span aria-hidden="true">→</span></a>
        </span>
      </li>
      <li class="flex gap-x-6 justify-start w-full text-lg pb-6">
        <span class="w-40 flex-none">11. Oktober 2024<br>19.00 Uhr</span>
        <span>
          <span class="font-bold">Lesung der neuen GAV-Mitglieder</span><br>
          Alte Schmiede Wien<br><br>
          <a class="font-semibold leading-6 text-gray-900" href="https://www.gav.at/pages/termine.php">Mehr Informationen <span aria-hidden="true">→</span></a>
        </span>
      </li>
      <li class="flex gap-x-6 justify-start w-full text-lg pb-6">
        <span class="w-40 flex-none">13. Oktober 2024<br>ab 18.30 Uhr</span>
        <span>
          <span class="font-bold">Kuration und Moderation der Feier "20 Jahre AnnoLiteraturSonntag"</span><br>
          Café Anno Wien
        </span>
      </li>
      <li class="flex gap-x-6 justify-start w-full text-lg pb-6">
        <span class="w-40 flex-none">31. Oktober 2024<br>19.00 Uhr</span>
        <span>
          <span class="font-bold">Lesung beim AnnoDialektDonnerstag</span><br>
          Café Anno Wien
        </span>
      </li>
      <li class="flex gap-x-6 justify-start w-full text-lg pb-6">
        <span class="w-40 flex-none">5. November 2024<br>19.00 Uhr</span>
        <span>
          <span class="font-bold">Podiumsgespräch mit Vladimir Vertlib</span><br>
          Republikanischer Club Wien<br><br>
          <a class="font-semibold leading-6 text-gray-900" href="https://theodorkramer.at/theodor-kramer-preis/2024/">Mehr Informationen <span aria-hidden="true">→</span></a>
        </span>
      </li>
      <li class="flex gap-x-6 justify-start w-full text-lg pb-6">
        <span class="w-40 flex-none">8. November 2024</span>
        <span>
          <span class="font-bold">Lesung für die Literaturzeitschrift Litrobona</span><br>
          Academy-Salon Salzburg
        </span>
      </li>
      <li class="flex gap-x-6 justify-start w-full text-lg pb-6">
        <span class="w-40 flex-none">11. Dezember 2024</span>
        <span>
          <span class="font-bold">Lesung Literaturschiff, gemeinsam mit Marko Dinić und Elke Laznia</span><br>
          Hotel Minichmayr, Steyr
        </span>
      </li>
    </ul>
    <h2 class="text-xl font-bold tracking-tight text-gray-900 sm:text-2xl">Vergangene Termine</h2>
    <ul class="py-12 divide-y">    
      <li class="flex gap-x-6 justify-start w-full text-lg pb-6">
          <span class="w-40 flex-none">1. März 2024<br>1.00pm EST</span>
          <span>
            <span class="font-bold">Online-Lesung und Gespräch mit dem Journal of Austrian Studies</span><br>
            Moderation: Dr. Christina Guenther
          </span>
      </li>
      <li class="flex gap-x-6 justify-start w-full text-lg pb-6">
          <span class="w-40 flex-none">18. März 2024<br>3.00pm EST</span>
          <span>
            <span class="font-bold">Lesung an der University of Cincinnati</span><br>
            Kade Center
          </span>
      </li>
      <li class="flex gap-x-6 justify-start w-full text-lg pb-6">
        <span class="w-40 flex-none">20. März 2024<br>7.30pm EST</span>
        <span>
          <span class="font-bold">Lesung an der Bowling Green State University</span><br>
          Moderation: Dr. Christina Guenther<br><br>
          101 Shatzel Hall
        </span>
      </li>
      <li class="flex gap-x-6 justify-start w-full text-lg pb-6">
        <span class="w-40 flex-none">22. Mai 2024<br>18.30 Uhr</span>
        <span>
          <span class="font-bold">Lesung beim Literaturfestival "störfeuer" der IG feministische Autor*innen</span><br><br>
          <a class="font-semibold leading-6 text-gray-900" href="https://igfem.at/literaturfestival-stoerfeuer/">Mehr Informationen <span aria-hidden="true">→</span></a>
        </span>
      </li>
      <li class="flex gap-x-6 justify-start w-full text-lg pb-6">
        <span class="w-40 flex-none">25. Mai 2024<br>22.30 Uhr</span>
        <span>
          <span class="font-bold">Gespräch mit Elias Hirschl im Rahmen der Langen Lesenacht, Literaturfest Salzburg</span><br><br>
          <a class="font-semibold leading-6 text-gray-900" href="https://www.literaturfest-salzburg.at/programmpunkt/lange-lesenacht-2/">Mehr Informationen <span aria-hidden="true">→</span></a>
        </span>
      </li>
      <li class="flex gap-x-6 justify-start w-full text-lg pb-6">
        <span class="w-40 flex-none">20. Juni 2024<br>19.30 Uhr</span>
        <span>
          <span class="font-bold">Dialektsalon im Literaturhaus Salzburg</span><br><br>
          <a class="font-semibold leading-6 text-gray-900" href="https://www.literaturhaus-salzburg.at/veranstaltungen/dialektsalon/">Mehr Informationen <span aria-hidden="true">→</span></a>
        </span>
      </li>
    </ul>
  </div>
</BaseLayout>