---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Termine | Katherina Braschel" description="Übersicht über aktuelle Termine der Autorin Katherina Braschel">
  <div>
    <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-4xl">Termine</h1>
    <ul class="py-12 divide-y">    
      <li class="flex gap-x-6 justify-start w-full text-lg pb-6">
          <span class="w-32 flex-none">1. März 2024<br>1.00pm EST</span>
          <span>
            <span class="font-bold">Online-Lesung und Gespräch mit dem Journal of Austrian Studies</span><br>
            Moderation: Dr. Christina Guenther<br><br>
             
            <a class="font-semibold leading-6 text-gray-900" href="https://texastech.zoom.us/webinar/register/WN_GGfLiUSRRt-JvWa5c-Qx0Q#/registration">Online-Registrierung kostenlos <span aria-hidden="true">→</span></a>
          </span>
      </li>
      <li class="flex gap-x-6 justify-start w-full text-lg pb-6">
          <span class="w-32 flex-none">18. März 2024<br>3.00pm EST</span>
          <span>
            <span class="font-bold">Lesung an der University of Cincinnati</span><br>
            Kade Center
          </span>
      </li>
      <li class="flex gap-x-6 justify-start w-full text-lg pb-6">
        <span class="w-32 flex-none">20. März 2024<br>7.30pm EST</span>
        <span>
          <span class="font-bold">Lesung an der Bowling Green State University</span><br>
          Moderation: Dr. Christina Guenther<br><br>
          101 Shatzel Hall
        </span>
      </li>
      <li class="flex gap-x-6 justify-start w-full text-lg pb-6">
        <span class="w-32 flex-none">20. Juni 2024<br>19.30 Uhr</span>
        <span>
          <span class="font-bold">Dialektsalon im Literaturhaus Salzburg</span>
        </span>
      </li>
    </ul>
  </div>
</BaseLayout>