---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Veröffentlichungen | Katherina Braschel" description="Übersicht über Veröffentlichungen der Autorin Katherina Braschel">
  <div>
    <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-4xl">Veröffentlichungen</h1>
    <h2 class="text-xl font-bold tracking-tight text-gray-900 sm:text-2xl mt-20">es fehlt viel</h2>
        <p class="mt-6 text-lg leading-6 text-gray-600 italic border-s-4 p-6">
            Das ist ein Schreiben mit Zweifel.<br />
            Ich würde gerne schreiben: Warten Sie nicht auf einen Spannungsbogen. Es geht nicht darum.<br />
            Auch das gehört in diesen Text.
        </p>
        <p class="mt-6 text-lg leading-8 text-gray-600">
            Ein Ich, das dokumentiert: ihre individuelle und gesellschaftliche Position, ihre Umwelt, die Menschen an der Supermarkt-Kassa. Alltägliches wird protokolliert, kommentiert und auf das eigene Selbst zurückgeworfen. Zwischen Brotsackerln und Fun-Domains scheinen Lücken auf, wird das Festgehaltene hinterfragt.<br />
            „But how could it affect me?“, fragt ein zwölfjähriges Mädchen in der Straßenbahn.
        </p>
        <p class="mt-6 text-lg leading-8 text-gray-600">
            Edition Mosaik, 2020<br />
            (2. Auflage 2020)<br />
            <a class="font-semibold leading-6 text-gray-900" href="https://www.liberladen.org/product/katherina-braschel-es-fehlt-viel/">Mehr Informationen, Leseprobe und bestellen  <span aria-hidden="true">→</span></a>        
        </p>
    <h2 class="text-xl font-bold tracking-tight text-gray-900 sm:text-2xl mt-20">Kämpferinnen</h2>
        <p class="mt-6 text-lg leading-6 text-gray-600 italic border-s-4 p-6">
            „Damit der Faden nicht reißt“
        </p>
        <p class="mt-6 text-lg leading-8 text-gray-600">
            Dreizehn Autorinnen schreiben über zwölf Feministinnen, Wegbereiterinnen, Kämpferinnen.
        </p>
        <p class="mt-6 text-lg leading-8 text-gray-600">
            Sie brachten Frauenforschung an die Universitäten, machten Gewalt gegen Frauen öffentlich, erkämpften Frauenhäuser, deckten Frauendiskriminierung auf, entwickelten Gender-Studies. Sie erzählten die Geschichte der Frauen neu, drehten Filme, die mit Mythen aufräumten, belegten, dass es zu Patriarchat und Kapitalismus Alternativen gibt. Sie schrieben die ersten Frauenberichte. Sie wiesen nach, dass die Ökonomie auf einem Auge blind ist und die unbezahlte Arbeit der Frauen fürs Alltagsleben beharrlich ignoriert. 
        </p>
        <p class="mt-6 text-lg leading-8 text-gray-600">
            Heute sind sie 75+ und kämpfen immer noch. Jede von ihnen wurde in ihrem Bereich Wegbereiterin. Dreizehn Autorinnen schreiben über sie und spinnen den Faden weiter. Damit das, was begonnen wurde, weitergetragen, weitererzählt, weitergeführt wird.
        </p>
        <p class="mt-6 text-lg leading-8 text-gray-600">
            Autorinnen: Theresa Lechner, Katharina Krawagna-Pfeifer, Mira Turba, Andrea Woyke, Isabella Langer, Gudrun Seidenauer, Nicole Schaffer, Maria-Amancay Jenny, Sissi Banos, Katherina Braschel, Gabi Reinstadler 
        </p>
        <p class="mt-6 text-lg leading-8 text-gray-600">
            Mit Portraits von Elisabeth Stiefel, Maria Mies, Frigga Haug, Marlies Hesse, Susanne Feigl, Christina von Braun, Ute Remus, Irene Stoehr, Erica Fischer, Helma Sick, Christina Thürmer-Rohr, Heide Göttner-Abendroth.
        </p>

        <p class="mt-6 text-lg leading-8 text-gray-600">
            Mandelbaum Verlag, 2021<br/>
            (Hg*innen.: Birgit Buchinger, Renate Böhm, Ela Groszmann)<br />

            <a class="font-semibold leading-6 text-gray-900" href="https://www.mandelbaum.at/buecher/birgit-buchinger-renate-boehm-ela-grossmann/kaempferinnen/">Mehr Informationen, Leseprobe und bestellen  <span aria-hidden="true">→</span></a>    
        </p>
    <h2 class="text-xl font-bold tracking-tight text-gray-900 sm:text-2xl mt-20">Anthologien, Zeitschriften, etc.</h2>
    <p class="mt-6 text-lg leading-8 text-gray-600">
        Weitere Veröffentlichungen von Prosa finden sich in diversen Literaturzeitschriften, Anthologien und dem Rundfunk.<br />
    </p>
    <div class="mt-6 text-lg leading-8 text-gray-600">
        Zuletzt:
        <ul class="divide-y">
            <li class="flex gap-x-6 justify-start w-full text-lg">
                <span class="font-bold w-20 flex-none">2025</span>
                <span>Fakt ist! Der große Test!<br />Archipel. Zeitschrift für Kunst, Theorie und Literatur, #7</span>
            </li>
            <li class="flex gap-x-6 justify-start w-full text-lg">
                <span class="font-bold w-20 flex-none">2025</span>
                <span>Spaziergang mit W., unpolitisch<br />SALZ – Zeitschrift für Literatur, Jubiläumsausgabe zum 50. Bestehen, Jahrgang 51/1, Nr. 200/201</span>
            </li>
            <li class="flex gap-x-6 justify-start w-full text-lg">
                <span class="font-bold w-20 flex-none">2025</span>
                <span>„Bowling Green is a lot, wrapped in a disguise of not much.”<br />In: „Der Stoff aus dem die Sätze sind. Österreichische Autorinnen und Autoren unterwegs in der Welt“, Hg*innen: Elke Atzler, Manfred Müller, Luftschacht Verlag</span>
            </li>
            <li class="flex gap-x-6 justify-start w-full text-lg">
                <span class="font-bold w-20 flex-none">2025</span>
                <span>Heim holen (Auszug und Interview)<br />Journal of Austrian Studies, Vol. 58, No. 2-3</span>
            </li>
            <li class="flex gap-x-6 justify-start w-full text-lg">
                <span class="font-bold w-20 flex-none">2025</span>
                <span>donauschwalbenkind, trachtet sich in fragendfalten.<br />In: „Haben und Gehabe. Zu Klasse und Herkunft in der Literatur“, Hg*in: Sabine Scholl, Sonderzahl 2025</span>
            </li>
            <li class="flex gap-x-6 justify-start w-full text-lg">
                <span class="font-bold w-20 flex-none">2025</span>
                <span>Zwetschgenkuchen, gedeckt<br>etcetera, #98</span>
            </li>
            <li class="flex gap-x-6 justify-start w-full text-lg">
                <span class="font-bold w-20 flex-none">2025</span>
                <span>Heim holen (Romanauszug)<br />Ö1 Radiogeschichten, 02. 04., Gestaltung: Karin Buttenhauser</span>
            </li>
            <li class="flex gap-x-6 justify-start w-full text-lg">
                <span class="font-bold w-20 flex-none">2025</span>
                <span>Drei Stunden siebenundvierzig Minuten. Eine Annäherung mit Ausleihen<br />Kolik. Zeitschrift für Literatur, #99</span>
            </li>
            <li class="flex gap-x-6 justify-start w-full text-lg">
                <span class="font-bold w-20 flex-none">2024</span>
                <span>Die Schritte (übrig)<br />SALZ – Zeitschrift für Literatur, #198</span>
            </li>
        </ul>
    </div>

    <p class="mt-6 text-lg leading-8 text-gray-600">
        Außerdem verfasse ich immer wieder Artikel, Kommentare und Rezensionen.
    </p>

    <div class="mt-6 text-lg leading-8 text-gray-600">
        Zuletzt:
        <ul class="divide-y"> 
            <li class="flex gap-x-6 justify-start w-full text-lg">
                <span class="font-bold w-20 flex-none">2024</span>
                <span>„‚ein poetisches Feld von Bild und Zeit, Raum und Körper‘ - Die Anthologie ‚handverlesen – Gebärdensprachpoesie in Lautsprache‘ beginnt, klaffende Leerstellen der Literatur zu schließen.“<br />Zwischenwelt. Literatur/Widerstand/Exil, Jg. 41/#1-2</span>
            </li>  
            <li class="flex gap-x-6 justify-start w-full text-lg">
                <span class="font-bold w-20 flex-none">2024</span>
                <span>„Wer die Wahrheit sagt, zahlt eine Strafe“<br />Essay, „Spectrum“, Die Presse, 22. Juni</span>
            </li>  
            <li class="flex gap-x-6 justify-start w-full text-lg">
                <span class="font-bold w-20 flex-none">2023</span>
                <span>„Jelinek, Brecht und Margarine vom Discounter - Katherina Braschel über symbolisches Kapital im Kunst- und Kulturbereich“<br />KUPFzeitung, #188</span>
            </li>
        </ul>
    </div>

    <p class="mt-6 text-lg leading-8 text-gray-600">
    In jeder zweiten Ausgabe der Literaturzeitschrift <a class="font-semibold leading-6 text-gray-900" href="https://radieschen.at/">&amp; Radieschen <span aria-hidden="true">→</span></a> verfasse ich meine Kolumne
    „querstrich“, in der ich mich literarisch mit politischen Themen auseinander setze,
    zuletzt etwa mit der anhaltend hohen Zahl an Femiziden in Österreich (Ausgabe 68).
    </p>

  </div>
</BaseLayout>