---
const textLinks: { label: string; href: string }[] = [
    { label: 'Termine', href: '/termine/' },
    { label: 'Schreiben', href: '/schreiben/' },
    { label: 'Vermitteln', href: '/vermitteln/' },
	{ label: 'Biografie', href: '/about/' },
    { label: 'Kontakt', href: '/kontakt/' }
];
---

<header class="absolute inset-x-0 top-0 z-50">
    <div class="mx-auto max-w-7xl">
        <div class="px-6 pt-6 lg:max-w-2xl lg:pl-8 lg:pr-0">
        <nav class="flex items-center justify-between lg:justify-start" aria-label="Global">
            <a href="/" class="-m-1.5 p-1.5 w-fit text-lg">
                Katherina Braschel
            </a>
            <div class="ml-12 flex gap-x-12">
            {
                textLinks.map(({ label, href }) => (
                        <a
                            aria-current={Astro.url.pathname === href}
                            class:list={[
                                'text-sm','font-semibold','leading-6','text-gray-900',
                                {
                                    active:
                                        Astro.url.pathname === href ||
                                        (href !== '/' && Astro.url.pathname.startsWith(href)),
                                },
                            ]}
                            href={href}
                        >
                            {label}
                        </a>
                ))
            }
            </div>
        </nav>
        </div>
    </div>
</header>